.header-menu {

    .nav {

        li.nav-item:hover {
            > ul.nav {
              display: block;
            }
        }


        .nav-item {

            position: relative;

            ul.nav {
                position: absolute;
                width: 135px;
                background: #fff none repeat scroll 0 0;
                box-shadow: 0 0 10px rgba($color: #000000, $alpha: 0.5);
                 display: none;

                li.nav-item {
                    border-bottom: 1px solid gray;
                    width: 100%;
                }


                li.nav-item.nav-child {
                    position: relative;
                    display: flex;
                    flex-direction: row;
                    width: 100%;

                    ul.nav {
                        position: absolute;
                        left: 100%;
                    }

                }
            }
        }
    }
}